*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
header{
    width: 100vw;
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    height: 5rem;
}
li{
    list-style: none;
    display: inline-block;
}
header ul li img{
    height: 5rem;
}
main{
    height: calc(100vh - 10rem);
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
main section article{
    border: 0.1rem grey solid;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 50rem;
    display:flex;
    align-items: center;
    margin-bottom: 3rem;
}
main section article input{
    border: 0rem solid;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 50rem;
}
main section article input:focus{
    outline: none;
}
footer{
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    height: 5rem;
    align-items: center;
}
footer li{
    padding: 1rem;
}
#google_logo{
    width: 40rem;
    padding-bottom: 3rem;
}
#mic_logo , #search_logo{
    width: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}